#redirecionar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 80%;
}

#redirecionar p{
    font-size: 32px;
    margin: 12px 0px;
}

#redirecionar a{
    text-decoration: none;
    font-size: 28px;
    padding: 4px 6px;
    transition: 0.2s ease-in-out;
}

#logar:hover{
    color: black;
    border: 1px solid black;
    background-color: rgb(129, 245, 129);
    border-radius: 20px;
}

#criar:hover{
    color: black;
    border: 1px solid black;
    background-color: rgb(129, 245, 129);
    border-radius: 20px;
}