#criarPedidosBG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#criarPedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    min-height: 600px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

#criarPedidoForm{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 90%;
    height: 90%;
}

#Desc{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Desc h3{
    width: 100%;
    text-align: left;
}

#Desc textarea{
    resize: none;
    width: 80%;
    font-size: 20px;
    padding: 4px;
    border: 1px solid black;
}

#IDesc::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

#IDesc::-webkit-scrollbar {
    width: 4px;
    background: #F4F4F4;
}

#IDesc::-webkit-scrollbar-thumb {
    background: #cccccc;
}

#categorias select{
    width: 160px;
    font-size: 16px;
    padding: 1px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 2px;
}

#ref1, #ref2{
    width: 90%;
    z-index: 10;
    width: 100%;
    max-width: 360px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 16px;
}

#refUmSalvo, #refDoisSalvo{
    border: 1px solid black;
    padding: 8px;
    width: 100%;
    min-height: 40px;
    margin-bottom: 16px;
    font-size: 15px;
    text-align: center;
}

#ref1 p, #ref2 p{
    position: absolute;
    border: 1px solid black;
    padding: 8px;
    width: 70%;
    max-width: 360px;
    height: 40px;
    text-align: center;
}

#inputRef1, #inputRef2{
    opacity: 0;
    width: 100%;
    height: 40px;
    font-size: 0px;
    cursor: pointer;
    transform: translateY(-14px);
}

#referencias h4{
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 18px;
}

#enviarPedido{
    align-self: center;
    width: 160px;
    font-size: 20px;
    padding: 4px;
}

#divTam{
    display: flex;
    justify-content: right;
    gap: 20px;
    width: 80%;
    margin: 4px 0px;
}

.erro{
    color: red;
}