#editPerfil{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border: 1px solid black;
    width:350px;
    height: 466px;
}

#editPerfilForm{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width:90%;
    height: 50%;
    padding: 10px;
    font-size: 24px;
}

#editPerfilForm input{
    padding: 4px;
    font-size: 16px;
    border: 1px solid black;
}

#editPerfilBtns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    height: 25%;
}

#editPerfilBtns button{
    width: 155px;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
}

#editBtns{
    display: flex;
    gap: 4px;
}

#delDiv{
    width: 100%;
    border: 1px solid red;
    border-bottom: 0px;
    padding: 3.5px;
}

#delDiv input{
    padding: 4px 2px;
    font-size: 16px;
    width: 155px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 8px 0px;
}

#delDiv div{
    display: flex;
    gap: 4px;
}